footer
    .footer
        .footer-menu
            .footer-menu__item
                h1 Телефон
                p +7 123 456 78 90
            .footer-menu__item
                h1 ФИО менеджера
                p Иванов.И.И
            .footer-menu__item
                h1 Почта
                p 123456@gmail.com
            .footer-menu__item
                h1 Адрес
                p Москва, ул.Ленина, д1
script(src="./js/menu.js")


    