doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="./css/style.css")
        link(rel="stylesheet", href="./css/style_2.css")
    body
        include modules/SecondHeader
        .wrapper
            h1.section-name Аренда
            .rent-blocks
                .rent-block
                    img(src="./img/img_rent-2.png", alt="")
                    .rent-block__text
                        p Если вы ищете временное жилье, мы предлагаем квартиры и дома в аренду на любой срок. Вы можете арендовать недвижимость для личного проживания, временного размещения сотрудников или проведения мероприятий. Все объекты проходят тщательный отбор, чтобы обеспечить нашим клиентам комфорт и безопасность.
                        .rent-block__btn
                            button от 45 000р.
                            button Позвонить
                .rent-block
                        img(src="./img/img_rent-2.png", alt="")
                        .rent-block__text
                            p Если вы ищете временное жилье, мы предлагаем квартиры и дома в аренду на любой срок. Вы можете арендовать недвижимость для личного проживания, временного размещения сотрудников или проведения мероприятий. Все объекты проходят тщательный отбор, чтобы обеспечить нашим клиентам комфорт и безопасность.
                            .rent-block__btn
                                button от 45 000р.
                                button Позвонить
                .rent-block
                        img(src="./img/img_rent-2.png", alt="")
                        .rent-block__text
                            p Если вы ищете временное жилье, мы предлагаем квартиры и дома в аренду на любой срок. Вы можете арендовать недвижимость для личного проживания, временного размещения сотрудников или проведения мероприятий. Все объекты проходят тщательный отбор, чтобы обеспечить нашим клиентам комфорт и безопасность.
                            .rent-block__btn
                                button от 45 000р.
                                button Позвонить
            h1.section-name Покупка
            .rent-blocks
                .rent-block
                    img(src="./img/img_purchase-2.png", alt="")
                    .rent-block__text
                        p Мы предлагаем большой выбор объектов недвижимости на любой вкус и бюджет. У нас вы найдете квартиры, дома, земельные участки, коммерческую недвижимость и многое другое. Наши специалисты всегда готовы помочь вам подобрать оптимальный вариант, исходя из ваших потребностей и предпочтений.
                        .rent-block__btn
                            button от 5.8 млн
                            button Позвонить
                .rent-block
                    img(src="./img/img_purchase-2.png", alt="")
                    .rent-block__text
                        p Мы предлагаем большой выбор объектов недвижимости на любой вкус и бюджет. У нас вы найдете квартиры, дома, земельные участки, коммерческую недвижимость и многое другое. Наши специалисты всегда готовы помочь вам подобрать оптимальный вариант, исходя из ваших потребностей и предпочтений.
                        .rent-block__btn
                            button от 5.8 млн
                            button Позвонить
                .rent-block
                    img(src="./img/img_purchase-2.png", alt="")
                    .rent-block__text
                        p Мы предлагаем большой выбор объектов недвижимости на любой вкус и бюджет. У нас вы найдете квартиры, дома, земельные участки, коммерческую недвижимость и многое другое. Наши специалисты всегда готовы помочь вам подобрать оптимальный вариант, исходя из ваших потребностей и предпочтений.
                        .rent-block__btn
                            button от 5.8 млн
                            button Позвонить
                
        include modules/footer